@charset "UTF-8";
@import url(font-awesome/css/font-awesome.min.css);




/* FONT */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&family=Open+Sans&family=Raleway:wght@100&display=swap');
* {

    font-family: 'IBM Plex Sans', sans-serif;

}

body, html {
    height: 100%;
}

/* COLOUR SCHEME */

:root {
    --light-background: #ffffff;
    --light-background-highlight: #6d6d6d;
    --dark-background: #0033cc;
    --main-text-colour: #000900;
    --white-text-colour: #ffffff;
    --accent-colour: #43A047;
    --white: #ffffff;

    /*Font sizes*/
    --small: 12px;
    --medium: 18px;
    --large: 26px;
    --huge: 76pt;

    /*
    CBY Colour Scheme
    ffca5c yellow
    4b2b19 brown
    1b1413 black

    --light-background: #ffffff;
    --light-background-highlight: #6d6d6d;
    --dark-background: #1b1413;
    --main-text-colour: #000900;
    --white-text-colour: #ffffff;
    --accent-colour: #yellow;
    --white: #ffffff;
    */
}

body {
    margin: 0px;
    padding: 0px;
}

h1,
h2,
h3,
h4,
p {
    text-align: center;
    position:relative;
    margin:0;
    padding: 1em 0 1em 0;
}


/*
TOP NAVIGATION STUFF BEGINS
*/

#hamburger {
    display: none;
}
.navlogo {
    display: block;
    height: 80px;
    float: left;
    left: 0;
    top: 0;
}
.flexbox{
    display:flex;
}
.flexbox.row{
    flex-direction:row; 
}
.mobile-only {
    display:none;
}
.navlogo:hover {
cursor: pointer;
}

.theme-gradient {

    background: #093028; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #093028, #237a57); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #093028, #237a57);
    color: var(--white-text-colour)
}

.accent {
    background-color: var(--accent-colour);
    color: var(--white-text-colour);
}

.topnav {
    display: flex;
    background:var(--light-background);
    overflow: scroll;
    align-items: center;
    width:100%;
}


/* Style the links inside the navigation bar */

.topnav a.nav {
    float: left;
    font-size: var(--medium);
    color: var(--main-text-colour);
    text-align: center;
    padding: 0 14px 0 16px;
    text-decoration: none;
    text-align: center;
}


/* Change the color of links on hover */

.topnav a:hover {
    font-weight: bold;
    text-decoration: underline;
}


/* Add an active class to highlight the current page */

.topnav a.active {
    text-decoration: underline;
}


/* Hide the link that should open and close the topnav on small screens */

.topnav .icon {
    display: none;
}

.topnav icon {
    float: left;
    display: block;
}



img {
    max-height: 100%;
    max-width: 100%;
}
#floor-plan{
    max-width:500px;
}



/* GRID CONFIG */

.wrapper {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
    flex-direction: column;
    align-items: center;
}
.copy {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    position: relative;
    flex-direction: row;
    margin:20px;
    justify-content: space-evenly;
}
.copy img {
    max-width:50%;
    max-height:600px;
}

.wrapper-item {
    background-color: var(--light-background);
    
    text-align: center;
    margin-bottom: 2em;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wrapper-item-wide {
    background-color: var(--light-background);
    max-height: 100vh;
    text-align: center;
    width: 100%;
    margin: auto;

}
.dark {
    background: #093028; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #093028, #237a57); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #093028, #237a57);
    color: var(--white-text-colour)
}

.wrapper-item p {
    text-align: justify;
    margin: 0 0 5px 0;
    padding: 0 10px 0 10px;
    max-width: 420px;
}

.wrapper-item a {
    text-decoration: none;
    color: var(--accent-colour);
}
.wrapper-item a:hover{
    text-decoration: underline;
    transform: scale(1.02);
}

#mc_embed_signup {
    max-width: 50%;
    margin:auto;
}

.fade-in,
fade-in-text {
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;
}

.fade-in.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
}

.fade-in-text.is-visible {
    opacity: 0.8;
    transform: none;
    visibility: visible;
}


/* And the rest */

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.light {
    background-color: var(--light-background-highlight);
}


/* Overlays for fullsreen menu */

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-y: hidden;
    transition: 1s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 2s;
    text-align: center;
    font-size: 8vw;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    right: 0px;
    font-size: 60px;
    padding:0;
    width:70px;
}

#mc_embed_signup {
    text-align: center;
}

.email {
    outline: 0;
    background: var(--light-background);
    width: 80%;
    text-align: center;
    border: 0.1;
    margin: 0 0 15px;
    padding: 5px;
    box-sizing: border-box;
}

.apt {
    list-style: none;
    margin: 20px;
    padding:0;
}

.apt-name {
    font-size: 28px;
    font-weight: bold;
}

.apt li {
    text-align: left;
    padding: 10px 20px;
    border-bottom: 1px dashed var(--light-background-highlight);
}


.apt li strong {
    width: 140px;
    display: inline-block;
}

.apt li span {
    float: right;
}

.sales {
    display: flex;
    flex-direction: row;
    cursor:pointer;
    flex-wrap: nowrap;
    justify-content: center;
}

.sales p {
    padding:0;
}
.sales-item {
    display:inline-flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin: 20px 0 20px 0;
    flex-grow: 1;
    width: 200px;
    padding:20px;

}






/*
SLIDER
*/

.slider {
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.slides {
    display: flex;
    overflow-x: auto;
    height: 350px;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scroll-snap-points-x: repeat(100%);
    scroll-snap-type: mandatory;

    text-align: center;
}
.slides div :hover {
    transform: scale(1.01);
}


.slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.slides::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}

.slides::-webkit-scrollbar-track {
    background: fixed
}

.slides>div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 300px;
    height: 300px;
    margin-right: 50px;
    border-radius: 10px;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

.slides>div:target {
    /*   transform: scale(0.8); */
}

.author-info {
    background: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 0.75rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
}

.author-info a {
    color: white;
}

a {
    max-height: 100%
}

.slider>a {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 0.5rem 0;
    position: relative;
}

.slider>a:active {
    top: 1px;
}

.slider>a:focus {
    background: #000;
}

/* Don't need button navigation */

@supports (scroll-snap-type) {
    .slider>a {
        display: none;
    }
}

/* The team member page*/
.team-container{
    display:flex;
    margin-bottom:2em;
    flex-wrap:wrap;

}
.team-member {
    border-style: solid;
    border-radius: 10px;
    margin:10px;
    padding:10px;
    width:250px;
    display:flex;
    flex-direction: column;
}
.team-member a {
    text-decoration: none;
    color: var(--main-text-colour);
}

.team-member h2 {
    margin-bottom: 0;
    margin-top:0;
}
.team-member h3 {
    margin-top:0;
}
.team-member i {
    text-align:left;
}
.fa:before {
    margin-right:10px;
}

/* Paralax sections */

.lax-1 {

    /* The image used */
    background-image: url('../media/images/rendering-1-web.jpg');

    /* Create the parallax scrolling effect */
    background-attachment: scroll!important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
}
.lax-2 {

    /* The image used */
    background-image: url('../media/images/rendering-2-web.jpg');

    /* Create the parallax scrolling effect */
    background-attachment: scroll!important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
}
.lax-3 {

    /* The image used */
    background-image: url('../media/images/rendering-interior-web.jpg');

    /* Create the parallax scrolling effect */
    background-attachment: scroll!important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
}

.lax-gradient {
    /* Create the parallax scrolling effect */
    background-attachment: scroll!important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    background: #093028; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #093028, #237a57); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #093028, #237a57);
    color: var(--white-text-colour)
}

.sales :hover {
    transform: scale(1.01);
}
.title {
    display:none;
    font-size: var(--huge);
    margin-top:20%;
    color: var(--white-text-colour);
}
#arrow {
    text-decoration: none;
    display:none;
    font-size: var(--huge);
    color: var(--white-text-colour);
}
#arrow a {
    text-decoration: none;
    color: var(--white-text-colour);
}




/* Styling for table */

.rwd-table {
    margin: auto;
    min-width: 300px;
    max-width: 100%;
    border-collapse: collapse;
    color: #333;
    border-radius: .4em;
}

.rwd-table thead tr {
    border-top: none;
    background: #093028; /* fallback for old browsers */
    color: var(--white-text-colour)
}

.rwd-table tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #f5f9fc;
}

.seld {
    color: var(--white-text-colour);
}
.rwd-table .ferli > *  {
    background-color: rgb(255, 254, 0);
    opacity: 100%;
    color: var(--main-text-colour);
}
.rwd-table .seld > *  {
    background-color: red!important;
    opacity: 60%;
    color: var(--white-text-colour)!important;
}

.rwd-table td {
    display: block;
}

.rwd-table td:first-child {
    margin-top: .5em;
}

.rwd-table td:last-child {
    margin-bottom: .5em;
}

.rwd-table td:before {
    content: attr(data-th) ": ";
    font-weight: bold;
    width: 120px;
    display: inline-block;
    color: #000;
}

.rwd-table th,
.rwd-table td {
    text-align: left;
}

.rwd-table tr {
    border-color: #bfbfbf;
}

.rwd-table th,
.rwd-table td {
    padding: .5em 1em;
}


a i {
    color: var(--main-text-colour);
}
td:before{
    content: attr(data-apt);
}

#ibud:hover {
    background-color: yellow;
}

img[usemap] {
    border: 0;
    height: auto;
    max-width: 100%;
    width: 100%;
}
.map {
    background-size: cover!important;
    /* width:100% !important; */
}
/* .map canvas {
    width: 100%!important;
    height:100%!important;
} */


#apt-view {
    position: fixed; /* Sit on top of the page content */
    display:none;
    width: 100%;
    height: 60%; /* Full height (cover the whole page) */
    float:right;
    max-width: 800px;
    
    bottom: 100px;
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    background: rgba(0,0,0,0.5);
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items:center;
}
#apt-view-img {
    max-width: 80%;
    max-height: 80%;
    margin:10px 0px 10px 0;
    display:flex;
    align-self:center;
    flex-grow: 2;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}
#apt-view img {
}
#apt-view h1 {
    position: absolute;
    background: #093028; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #093028, #237a57); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #093028, #237a57);
    color: var(--white-text-colour);
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom:0;
}

#apt-view-navigation-buttons {
    width:100%;
    justify-content: space-evenly;
    position:relative;
    bottom:0px;
    flex-direction: row;
}

.more-info {
    display:inline-block;
    cursor: pointer;
}

.active {
    background-color: #00A300;
}
#footer {
    bottom: 0;
    background-color: var(--main-text-colour);
    color: var(--white-text-colour);
    width: 100%;
    text-align: center;
    padding: 5px 0px 5px 0px;

    display: flex;
    flex-wrap: wrap;
    position: relative;
    gap: 1rem;
}



#footer a {
    color: var(--white-text-colour);
    text-decoration: none;
}

#footer a:hover {
    text-decoration: underline;
}

.footer-info-box {
    text-align: center;
    display: flex;
    flex:1;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding:0 1em 0 1em;
}
.footer-start {
order: -1;
}

#hover-overlay {
    position: fixed; /* Sit on top of the page content */
    display:none;
    flex-direction: column;
    width: 480px    ; /* Full width (cover the whole page) */
    padding: 20px;
    top: 45%;
    float:right;
    right: 50%;
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    background: #093028; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #093028, #237a57); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #093028, #237a57);
    color: var(--white-text-colour)
}




/*CHECKBOX STYLE TEST*/
@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    input[type=checkbox],
    input[type=radio] {
        --active: #43A047;
        --active-inner: #fff;
        --focus: 2px #43A047;
        --border:   #43A047;
        --border-hover: #275EFE;
        --background: #fff;
        --disabled: #F6F8FF;
        --disabled-inner: #E1E6F9;
        -webkit-appearance: none;
        -moz-appearance: none;
        height: 21px;
        outline: none;
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin: 0;
        cursor: pointer;
        border: 1px solid var(--bc, var(--border));
        background: var(--b, var(--background));
        transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
    }
    input[type=checkbox]:after,
    input[type=radio]:after {
        content: "";
        display: block;
        left: 0;
        top: 0;
        position: absolute;
        transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
    }
    input[type=checkbox]:checked,
    input[type=radio]:checked {
        --b: var(--active);
        --bc: var(--active);
        --d-o: .3s;
        --d-t: .6s;
        --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }

    input[type=checkbox]:focus,
    input[type=radio]:focus {
        box-shadow: 0 0 0 var(--focus);
    }
    input[type=checkbox]:not(.switch),
    input[type=radio]:not(.switch) {
        width: 21px;
    }
    input[type=checkbox]:not(.switch):after,
    input[type=radio]:not(.switch):after {
        opacity: var(--o, 0);
    }
    input[type=checkbox]:not(.switch):checked,
    input[type=radio]:not(.switch):checked {
        --o: 1;
    }
    input[type=checkbox] + label,
    input[type=radio] + label {
        font-size: 14px;
        line-height: 21px;
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
        margin-left: 4px;
    }

    input[type=checkbox]:not(.switch) {
        border-radius: 7px;
    }
    input[type=checkbox]:not(.switch):after {
        width: 5px;
        height: 9px;
        border: 2px solid var(--active-inner);
        border-top: 0;
        border-left: 0;
        left: 7px;
        top: 4px;
        transform: rotate(var(--r, 20deg));
    }
    input[type=checkbox]:not(.switch):checked {
        --r: 43deg;
    }
    input[type=checkbox].switch {
        width: 38px;
        border-radius: 11px;
    }
    input[type=checkbox].switch:after {
        left: 2px;
        top: 2px;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background: var(--ab, var(--border));
        transform: translateX(var(--x, 0));
    }
    input[type=checkbox].switch:checked {
        --ab: var(--active-inner);
        --x: 17px;
    }
    input[type=checkbox].switch:disabled:not(:checked):after {
        opacity: 0.6;
    }

    input[type=radio] {
        border-radius: 50%;
    }
    input[type=radio]:after {
        width: 19px;
        height: 19px;
        border-radius: 50%;
        background: var(--active-inner);
        opacity: 0;
        transform: scale(var(--s, 0.7));
    }
    input[type=radio]:checked {
        --s: .5;
    }
}
.checkbox {
    display:inline-flex;
    margin-bottom: 2em;
}
input:disabled{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.column {
    display:flex;
    flex-direction: column;
}

.row {
    display:flex;
    flex-direction: row;
}






#filter-verd:hover {
cursor:pointer;
}
#filter-fm:hover {
cursor:pointer;
}
.highlight {
    background: #093028!important; /* fallback for old browsers */
    color: var(--white-text-colour)   
}
.highlight .fa-eye {
    color: var(--white-text-colour);
}

.rwd-table tr:hover {
    background: #093028; /* fallback for old browsers */
    color: var(--white-text-colour)
}
.rwd-table tr:hover .fa-eye {
    color: var(--white-text-colour)
 }
.rwd-table td:before {
    display: none;
}
.rwd-taable th,
.rwd-table td {
    display: table-cell;
    padding: .25em .5em;
}
.rwd-table th:first-child,
.rwd-table td:first-child {
    padding-left: 0;
}
.rwd-table th:last-child,
.rwd-table td:last-child {
    padding-right: 0;
}
.rwd-table th,
.rwd-table td {
    padding: 1em !important;
}


/*Button styles*/
.button {
    padding: 0px 20px 0px 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    height:40px;
    display: inline-block;
    margin: 20px 0 20px 0;
    border-radius: 4px;
    border: none;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    cursor: pointer;

}
.white-button {
    background-color: var(--white-text-colour);
    color: var(--main-text-colour);
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}
.white-button:hover {
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;

    background: #093028; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #093028, #237a57); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #093028, #237a57);
    color: var(--white-text-colour);
    cursor: pointer;
}

.dark-button {
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    background: #093028; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #093028, #237a57); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #093028, #237a57);
    color: var(--white-text-colour);
 
}
.dark-button:hover {
    background: var(--white-text-colour);
    background-color: var(--white-text-colour);
    color: var(--main-text-colour);
}
/* End of button styles*/

.frontpage-map {
    width: 80%;
    height: 600px;
    margin:20px;
    border:0;
}

/*
MEDIA QUERIES
*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 601px) {
    .copy {
        flex-direction: column;
    }
    .copy img {
        max-width:80%;
    }
    .rev {
        flex-direction: column-reverse;
    }
    .sales {
        flex-direction: column;
        margin:20px;
    }
    .sales img {
        max-width:80%;
    }
    .sales-item {
        width: 100%;
        margin-top: 20px;
        padding:0;
    }
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    #hamburger {
        display: block;
    }
    .topnav {
        justify-content: space-between;
    }
    .navlogo {
        height: 80px;
        float: left;
        left: 0;
        top: 0;
    }
    
    .topnav a.nav {
        display: none;
    }

    #hover-overlay {
        position: fixed; /* Sit on top of the page content */
        display:none;
        flex-direction: column;
        width: 90%    ; /* Full width (cover the whole page) */
        padding: 20px;
        top: 0;
        right: 0;
        float:right;
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        background: #093028; /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #093028, #237a57); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #093028, #237a57);
        color: var(--white-text-colour)
    }

    .desktop-only {
        display:none;
    }
    .mobile-only {
        display:block;
    }
    .wrapper-item {
        width:100%;        
        margin-bottom: 0;
    }
    .wrapper-item-wide {
        max-height:inherit;
    }
    .wrapper-item-wide.lax-1.parallax{
        height: 460px;
    }
    #mc_embed_signup {
        max-width: 100%;
    }
    .title{
        font-size: 50pt;
    }
    #floor-plan{
        max-width:90%;
    }
    #sneakPeek {
        display:none!important;
    }
    #footer {
        flex-direction:column;

    }
    .footer-info-box {
        max-width:100%;
    }
}
#skilalysing:hover{
    cursor: pointer;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1600px) {
    .parallax {
        background-attachment: fixed!important;
        }
}
